{# Native radio inputs styled as tappable cards; selected state via :checked + sibling CSS. #}
<div class="row g-3" role="radiogroup" aria-label="{{ question.prompt }}">
  {% for option in question.options %}
  <div class="col-12 col-sm-6">
    <input class="visually-hidden option-card-input" type="radio"
           id="{{ question.id }}_{{ option.index }}"
           name="{{ question.id }}" value="{{ option.index }}"
           {% if saved_value == option.index %}checked{% endif %}>
    <label class="option-card" for="{{ question.id }}_{{ option.index }}">
      {{ option.label }}
    </label>
  </div>
  {% endfor %}
</div>
