{% extends "base.html" %}

{% block content %}
<div class="py-5 text-center">
  {% if personas %}
  <h2 class="display-5 fw-bold mb-4">One of these is you</h2>
  <ul class="persona-preview-grid list-unstyled">
    {% for persona in personas.values() %}
    <li>
      {% if persona.icon %}<span class="persona-icon persona-icon--preview">{{ persona_icon(persona) }}</span>{% endif %}
      <span class="d-block small">{{ persona.name }}</span>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <h1 class="display-5 fw-bold mt-5">The Monkey Puzzle</h1>
  <p class="lead">
    Complete this short survey to receive your personalised profile around how you or your
    organisation are currently approaching sustainability!
  </p>
  <a class="btn btn-success btn-lg mt-3" href="{{ url_for('survey.start') }}">Begin</a>
</div>
{% endblock %}
