{% extends "base.html" %}

{% block content %}
<div class="py-5 text-center">
  <h1 class="display-5 fw-bold">The Monkey Puzzle</h1>
  <p class="lead">
    This short survey is designed to help you capture a snapshot of your current situation,
    helping you to understand how you or your organisation are currently approaching
    sustainability. On completion you will receive personalised results that you can share!
  </p>
  <a class="btn btn-success btn-lg mt-3" href="{{ url_for('survey.start') }}">Begin</a>
</div>
{% endblock %}
